.countContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 100px;
    border-radius: 25px;
}

.countDisplay {
    font-size: 42px;
    background-color: aliceblue;
    color: black;
    border-radius: 100px;
    width: 200px;
    margin: 0 auto;
}

.controls {
  display: flex;
  gap: 10px;
}

.increaseButton {
  background-color: blue;
}

.decreaseButton {
  background-color: yellowgreen; 
}

.resetButton {
  background-color: rgb(255, 67, 67);
}